#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

dpkg_late_eval ?= $(or $(value DPKG_CACHE_$(1)),$(eval DPKG_CACHE_$(1) := $(shell $(2)))$(value DPKG_CACHE_$(1)))
DEB_DISTRIBUTION = $(call dpkg_late_eval,DEB_DISTRIBUTION,dpkg-parsechangelog -SDistribution)

# We MUST set this to whatever the correct llvm-config to build with is if,
# it isn't `llvm-config`, otherwise, the Pony build process won't be able to run

MAKE_OPTIONS := prefix=/usr -f Makefile-lib-llvm use=llvm_link_static

ifeq ($(DEB_HOST_ARCH),amd64)
	MAKE_OPTIONS += arch=x86-64 tune=intel
endif

ifeq ($(DEB_HOST_ARCH),s390x)
	MAKE_OPTIONS += arch=z900 tune=z900
endif

ifeq ($(DEB_HOST_ARCH),armhf)
	MAKE_OPTIONS += arch=armv7 tune=arm7
endif

ifeq (,$(filter $(DEB_DISTRIBUTION),xenial))
	MAKE_OPTIONS += default_ssl='openssl_1.1.0' default_pic=true
endif

MAKE_JFLAG := -j4

%:
	dh $@

override_dh_auto_build:
	echo 'override_dh_auto_build:+ do simple things'
	env
	uname -m
	echo $(DEB_DISTRIBUTION)
	echo "before simple make=$(MAKE) $(MAJE_JFLAG)"
	echo "doing make" ; cd lib/llvm ; $(MAKE) verbose=1 LLVM_LINKER=gold $(MAKE_JFLAG)
	echo "after  simple make=$(MAKE) $(MAJE_JFLAG)"
	#$(MAKE) $(MAKE_OPTIONS) $(MAKE_JFLAG)
	echo 'override_dh_auto_build:- do simple things'

override_dh_auto_install:
	echo 'override_dh_auto_install:+ do nothing'
	#dh_auto_install -- $(MAKE_OPTIONS)
	echo 'override_dh_auto_install:- do nothing'

override_dh_auto_test:
	echo 'override_dh_auto_test:+ do nothing'
	#$(MAKE) test-ci $(MAKE_OPTIONS) $(MAKE-JFLAG)
	echo 'override_dh_auto_test:- do nothing'

override_dh_auto_clean:
	echo 'override_dh_auto_clean:+ do nothing'
	#$(MAKE) clean $(MAKE_OPTIONS)
	echo 'override_dh_auto_clean:- do nothing'

# if newer debian/ubuntu disable unform compression in deb for bintray
ifeq (,$(filter $(DEB_DISTRIBUTION),stretch xenial))
override_dh_builddeb:
	echo 'override_dh_builddeb:+ invoke dh_builddeb'
	dh_builddeb -- --no-uniform-compression
	echo 'override_dh_builddeb:- invoke dh_builddeb'
endif

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

